body {
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "MicrosoftYaHei", "WenQuanYi Micro Hei", sans-serif;

    margin: 0;
    padding: 0;
}


.footer {
    clear: both;
    height:24px;
    line-height:24px;
    width: 100%;
    display: block;
    text-align: center;
    vertical-align: middle;
    margin: 0px auto;
    position: absolute;
    bottom: 5px;
}